.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100vw;
  position: fixed;
}

.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-basis: 660px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item > .nav-link {
  font-size: 15px;
  padding: 0.9rem 20px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  opacity: 1 !important;
}


.container > .navbar-toggler {
  display: none;
}


@media (max-width: 992px) {
  .container > .navbar-toggler {
    display: flex;
  }

  .container > .navbar-nav {
    display: none;
  }
}


/* Hamburger menu css */

#menuToggle
{
  display: none;
  position: relative;  
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
}

 .menu-wrapper {
  height: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #000000;
  transition-property: height;
  transition-duration: .5s;
 }

 .menu-wrapper.show {
  height: 21vh;
 }
 
 #menu {
   background: #ededed;
   list-style: none;
   -webkit-font-smoothing: antialiased;
   padding: 0 25px;
 }

 #menu > a {
  text-align: left;
  font-size: 15px;
 }
 
 #menu li
 {
   padding: 10px 0;
 }

@media (max-width: 992px) {
  .navbar, #menu {
    background-color: #000000;
    color: #fff;
  }
  #menuToggle {
    display: block;
  }

  #menuToggle a {
    color: #fff;
  }
}

section {
  height: 500px;
  width: 100%;
}

.hero-section {
  background-image: url('./images/bg_1.jpeg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}